// some meta-data information
manifest {
  description = 'Minimal, workable example of Nextflow' 
  author = 'Marie Lataretu'
  nextflowVersion = '>=23.04.0'
}

// parameters that are accessible in the pipeline script
params {
    reads = "${projectDir}/data/*_R{1,2}.fastq.gz"
    genome = "${projectDir}/data/NC_045512.2.fasta"
    outdir = 'results'
}

// enable execution report
def trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
report {
    enabled = true
    file = "${params.outdir}/execution_report_${trace_timestamp}.html"
}

// sets of predefined configurations that the user can select by using the -profile command line option
// profiles can be combined by separating the profile names with a comma
profiles {
    // engines
    mamba { 
        conda.enabled = true
        conda.useMamba = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    // executors
    local {
        executor.name = "local"
        executor.cpus = 2
    }
    slurm { 
        executor.name = "slurm"
        executor.queueSize = 20
        process.cache = "lenient"
    }
}